---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { cn } from '@/lib/utils'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Test" />
  <Breadcrumbs items={[{ label: 'Test', icon: 'lucide:circle-help' }]} />

    <h1>Test</h1>
</Layout>
